:root{
    --bodybg : #333;
}

*,*::after,*::before{
    box-sizing: border-box;
}
body{
    max-width:100vw;
    min-height:100vh;
    margin:0;
    background-color: var(--bodybg);
    
}
.calculator{
    width:340px;
    height:600px;
    margin:20px auto;
}
.screen{
    width:100%;
    height:20%;
    border:1px solid #000;
    border-bottom:none;
}
.keys{
    width:100%;
    height:80%;
    display:flex;
    justify-items:space-evenly;
    align-items: center;
    flex-flow:row wrap;
    background-color: #aaa;
}
.calc-key{
    min-width:calc(100%/3);
    height:calc(60%/3);
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow:0px 0px 1px rgba(0 0 0 /.5);
    cursor:pointer;
}
.calc-key::selection{
    display: none;
}
.screen{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    overflow-y:hidden;
    background-color: rgba(25 98 52 /.8);
    font-size:60px;
}



.addedKey{
    width:50%;
    background-color: #555;
}

.darklight{
    width:40px;
    height:40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    font-size:30px;
}
.foot{
    width:100%;
    height:5rem;
    margin-top:10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
}